/* index */
@font-face {
  font-family: 'HindSiliguri-Regular';
  src: url('./assets/HindSiliguri-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'HindSiliguri-SemiBold';
  src: url('./assets/HindSiliguri-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'HindSiliguri-Bold';
  src: url('./assets/HindSiliguri-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'HindSiliguri-Medium';
  src: url('./assets/HindSiliguri-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'HindSiliguri-Light';
  src: url('./assets/HindSiliguri-Light.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: "HindSiliguri-Regular";
}
/* components */
/* Header Footer ShoppingCart */

/* Header */
header {
  display: flex;
  flex-direction: row;
  padding: 30px 150px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
header *, header *:visited, header *:active, header *:hover{
  color: inherit;
  text-decoration: none;
}
#header-left {
  color: #00ffff;
  font-family: 'HindSiliguri-SemiBold';
  font-size: x-large;
}
#title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#title {
  margin: 0;
}
#title-icon {
  height: 48px;
  width: 48px;
  margin-left: 20px;
}
#header-right {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: x-large;
  font-family: 'HindSiliguri-Medium';
  align-items: center;
}
#header-right > * {
  margin: 0 20px;
}
#shopping-cart-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}
#shopping-cart-icon {
  height: 24px;
  width: 24px;
}

/* Footer */
footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#github-logo {
  margin-left: 8px;
  height: 24px;
  width: 24px;
}

/* pages */
/* About ComingSoon Home Shop */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-contents {
  margin: 50px 150px;
}

/* Home */
#home-contents-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
#home-contents-subheader {
  font-size: large;
  font-family: 'HindSiliguri-Bold';
  color: slategray;
}
#home-contents-header {
  font-size: 50px;
  font-family: 'HindSiliguri-SemiBold';
  margin-top: 10px;
}
#home-contents-header-line-1 {
  line-height: 85%;
}
#home-page-picture {
  height: 360px;
  margin-left: 30px;
}