/* index */
@font-face {
  font-family: 'Hind Siliguri';
  src: url('/src/assets/HindSiliguri-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Hind Siliguri Semi Bold';
  src: url('/src/assets/HindSiliguri-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri Bold';
  src: url('/src/assets/HindSiliguri-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri Medium';
  src: url('/src/assets/HindSiliguri-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri Light';
  src: url('/src/assets/HindSiliguri-Light.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: "Hind Siliguri";
}
/* components */
/* Header Footer ShoppingCart */

/* Header */
header {
  display: flex;
  flex-direction: row;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
header *, header *:visited, header *:active, header *:hover{
  color: inherit;
  text-decoration: none;
}
#header-left {
  color: #00ffff;
  font-family: 'Hind Siliguri Semi Bold';
  font-size: x-large;
}
#title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#title {
  margin: 0;
}
#title-icon {
  height: 48px;
  width: 48px;
  margin-left: 20px;
}
#header-right {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: x-large;
  font-family: 'Hind Siliguri Medium';
  align-items: center;
}
#header-right > * {
  margin: 0 20px;
}
#shopping-cart-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}
#shopping-cart-icon {
  height: 24px;
  width: 24px;
}

/* Footer */
footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#github-logo {
  margin-left: 8px;
  height: 24px;
  width: 24px;
}

/* pages */
/* About ComingSoon Home Shop */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}