/* index */
@font-face {
  font-family: 'Hind Siliguri';
  src: url('/src/fonts/HindSiliguri-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "Hind Siliguri";
}
/* components */
/* Header Footer ShoppingCart */

/* Header */
header {
  display: flex;
  flex-direction: row;
  margin: 0 10vw;
  justify-content: space-between;
}

/* pages */
/* About ComingSoon Home Shop */